
<div class="container" [class.container--dark]="isDark">
  <div class="bg-image">
    <img [src]="isDark ? './assets/bg-desktop-dark.jpg' : './assets/bg-desktop-light.jpg'" alt="Background Image">
  </div>
  <div class="content">
    <!-- Header -->
    <header>
      <h1>TODO</h1>
      <img [src]="isDark ? './assets/icon-sun.svg' : './assets/icon-moon.svg'"
          alt="Change Theme" 
          width="30" 
          height="30" 
          (click)="changeTheme()"
          class="js-change-theme"
        >
    </header>
    <!-- /Header -->
    
    <!-- Input -->
    <div class="input-container">
      <span></span>
      <input type="text" 
            placeholder="Create a new todo..." 
            [(ngModel)]="newTaskName" 
            (keyup.enter)="addTask()"
      >
    </div>
    <!-- /Input -->

    <!-- List of elements -->
    <div class="list-wrapper">
      <ul class="list" *ngIf="tasks.length === 0">
        <li>Cargar Tareas...</li>
      </ul>
      <ul class="list" *ngIf="tasks.length > 0">
        <li *ngFor="let taskItem of displayTasks">
          <label class="list-item">{{ taskItem.title }}
            <input type="checkbox" (change)="toggleCompleted(taskItem.id)" [checked]="taskItem.hasCompleted">
            <span class="checkmark"></span>
          </label>
        </li>
      </ul>
      <footer class="list-footer">
        <p>{{ itemsLeft }} Items Left</p>
        <div class="list-footer__filter">
          <p (click)="filterTasks('all')" [class.active]="filterActive === 'all'">All</p>
          <p (click)="filterTasks('active')" [class.active]="filterActive === 'active'">Active</p>
          <p (click)="filterTasks('completed')" [class.active]="filterActive === 'completed'">Completed</p>
        </div>
        <button (click)="clearTasks()">
          Clear Completed
        </button>
      </footer>
    </div>
    <!-- /List of elements -->
    <button (click)="restartTour()" class="btn">Restart tour</button>

  </div>
</div>


<ngx-guided-tour></ngx-guided-tour>